@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-roboto);
  background-color: #503d7e;
}

.searchInput {
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;
  outline: none;
  color: #a1a1a1;
  background: #1f2123;
}

.search img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
button {
  background-color: transparent;
}

.plot-card {
  margin-top: 1rem;
  position: relative;
  background-color: aliceblue;
  border-radius: 8px;
  padding: 1rem;
  max-height: max-content;
  width: 70vw;
  min-width: 340px;
}
.plot-card-upper {
  display: flex;
  flex-wrap: wrap;
}
.plot-details-major {
  flex-grow: 1;
  max-height: 350px;
  padding: 2rem;
  padding-left: 0;
  overflow-y: scroll;
}
.plot-details-more {
  padding: 2.7rem 1.7rem;
}
.synopsis {
  font-weight: 300;
  text-transform: lowercase;
}
.plot-card button {
  position: absolute;
  top: 20px;
  right: 39px;
}
.btn-close {
  cursor: pointer;
  width: 1rem;
}
.span {
  margin: 5px;
}
.plot-img {
  flex: 1;
}
